* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(52, 68, 107);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    margin-top: 50px;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description h2,
.description p{
    color: black;
    font-size: 24px;
}